.myself .container .items {
    margin-left: 150px;
}

.myself {
    background-image: url(../images/background3.jpg);
}

.myself .container .items .item {
    width: 40%;
    margin: 0 10px;
    margin-left: 15px;
}

.myself .container .items .item .con img {
    float: left;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.myself .container .items .item .con .item-text {
    color: #6195ff;
    font-weight: 600;
}

.myself .container .items .item p {
    color: white;
}