.news {
    /* background-color: rgb(255, 255, 255); */
    background-color: rgb(220, 220, 220);
    overflow: auto;
    padding: 60px 40px;
}

.news .news-card {
    background-color: rgb(255, 255, 255);
    /* background-color: rgb(220, 220, 220); */
    padding: 20px;
    float: left;
    margin: 0 15px;
    width: 370px;
    height: 500px;
    position: relative;
    z-index: 3;
    border-radius: 10px;
}

.news .news-card::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 0%;
    top: 0;
    left: 0;
    background-color: rgb(51, 51, 51, .8);
    transition: .4s height ease-in-out;

}

.news .news-card:hover::after {
    height: 100%;
}

.news .news-card:hover.news-card .news-overlay span i {
    color: darkblue;
}

.news .news-card:hover {
    color: white;
}

/* .news .news-card:hover .news-overlay {
    opacity: 1;
    visibility: visible;
} */

.news .news-card img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

.news .news-card .news-details {
    text-align: center;
}

.news-details .news-title,
.news-details .news-par {
    font-size: 1.3rem;
    margin: 10px 0;
    text-transform: capitalize;
    transition: .8s color;
    /* transition-delay: .5s; */
}

.news-details .news-par {
    font-size: medium;
}

.news-details .news-btn {
    margin: 10px 0;
    color: #1761f4;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

}

.news-card .news-overlay span i {
    background-color: transparent;
    color: #1761f4;
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    transition: .4s color;
    /* transition: .3s color; */
    /* transition-delay: .5s; */
}

.news-card .news-overlay span p {
    display: inline;
    transition: .8s color;

    /* transition: .3s color; */
    /* transition-delay: .5s; */
}