.teams {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    padding: 100px 40px;
}


.teams .teams-card {
    background-color: rgb(220, 220, 220);
    padding: 20px;
    float: left;
    margin: 0 15px;
    width: 370px;
    height: 320px;
    position: relative;
    z-index: 2;
    border-radius: 10px;
}

.teams .teams-card::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    right: 50%;
    background-color: rgb(51, 51, 51, .8);
    transition: .5s height, .5s width;
}

.teams .teams-card::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: rgb(51, 51, 51, .8);
    transition: .5s height, .5s width;
}

.teams .teams-card:hover::after,
.teams .teams-card:hover::before {
    height: 100%;
    width: 50%;
}

.teams .teams-card:hover .teams-overlay {
    opacity: 1;
    visibility: visible;
}

.teams .teams-card img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
}

.teams .teams-card .teams-details {
    text-align: center;
}

.teams-details .teams-name {
    font-size: 1.4rem;
    text-transform: capitalize;
}

.teams-details .teams-job {
    color: #1761f4;
    font-weight: 600;
}

.teams-card .teams-overlay {
    position: absolute;
    top: 15%;
    right: 10px;
    z-index: 3;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: .5s opacity, .5s visibility;
    transition-delay: .4s;
}

.teams-card .teams-overlay a {
    text-decoration: none;
}

.teams-card .teams-overlay i {
    background-color: transparent;
    color: #1761f4;
    font-size: 2rem;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.teams .teams-overlay i.fa-instagram {
    color: rgb(238, 37, 242);
}