/* .pricing {
    background-color: rgb(224, 224, 224);
    overflow: auto;
    padding: 150px 50px;
} */

.container {
    margin-top: 50px;
    /* overflow: auto; */
}

.pricing .cont {
    float: left;
    width: 340px;
    height: 480px;
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}



.cont2 {
    margin: 0 85px;
    height: 550px;
}

.cont3 {
    margin-top: 40px;
}

.recommended {
    /* background-color: #017622; */
    background-color: #013b11;
    padding: 18px 0;
    border-radius: 5px;
    margin-top: -10px;
    margin-bottom: 1px;
    text-align: center;
    color: white;
    text-transform: capitalize;
}

.plan {
    background-color: #017622;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1px 0;
    color: white;
}

.div img {
    width: 25px;
    height: 25px;
}

.div {
    margin-bottom: 20px;
    margin-left: 10px;
}

.par {
    display: inline;
}

.price {
    text-align: center;
    margin: auto;
    border: 2px solid #017622;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 900;
}

.price:hover {
    background-color: #017622;
    color: white
}

.purchase {
    display: block;
    padding: 10px 20px;
    background-color: white;
    border: 2px solid #017622;
    color: black;
    margin: 10px auto;
    font-size: 15px;
    border-radius: 8px;
    text-transform: uppercase;
}

.purchase:hover {
    background-color: #017622;
    color: white
}

.spend {
    text-align: center;
}